fitz==0.0.1.dev2
Flask==3.1.1
flask_cors==6.0.1
langchain==0.3.26
langchain_community==0.3.26
langchain_ollama==0.3.3
langchain_text_splitters==0.3.8
Pillow==11.2.1
qdrant_client==1.14.3
streamlit==1.46.1
