# Core
streamlit==1.46.1
requests==2.32.4
python-dotenv==1.1.1

# LangChain stack
langchain==0.3.26
langchain-community==0.3.26
langchain-core==0.3.66
langchain-qdrant==0.2.0

# HuggingFace Embeddings
sentence-transformers==2.6.1
huggingface-hub==0.20.3

# Qdrant Cloud Client
qdrant-client==1.14.3

# PDF and Unstructured Data
unstructured==0.18.1
unstructured-inference==1.0.5

# Text splitters
langchain-text-splitters==0.3.8

# Extras
tqdm==4.67.1
numpy>=2.1.0,<2.3.0
pydantic==2.11.1
typing-extensions==4.14.0



